/*
    layout.css
    (c) Copyright 2013 - Giovanni Macciocu
    
    overview of the entypo icons:
    http://bistro.convergencecms.co/entypo
    
    font sources:
    http://www.fontsquirrel.com
    
    colors
    http://www.w3.org/TR/2010/PR-css3-color-20101028/
    http://colorschemedesigner.com/ 
    http://www.cssbuttongenerator.com/
    http://en.wikipedia.org/wiki/Web_colors/
*/  

/* fonts */

@font-face {
  font-family: 'AmbleRegular';
  src: url('../css/amble/Amble-Regular-webfont.eot');
  src: url('../css/amble/Amble-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../css/amble/Amble-Regular-webfont.woff') format('woff'),
       url('../css/amble/Amble-Regular-webfont.ttf') format('truetype'),
       url('../css/amble/Amble-Regular-webfont.svg#AmbleRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'AmbleBold';
    src: url('../css/amble/Amble-Bold-webfont.eot');
    src: url('../css/amble/Amble-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/amble/Amble-Bold-webfont.woff') format('woff'),
         url('../css/amble/Amble-Bold-webfont.ttf') format('truetype'),
         url('../css/amble/Amble-Bold-webfont.svg#AmbleBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'DejaVuSerifBook';
  src: url('../css/serif/DejaVuSerif-webfont.eot');
  src: url('../css/serif/DejaVuSerif-webfont.eot?#iefix') format('embedded-opentype'),
       url('../css/serif/DejaVuSerif-webfont.woff') format('woff'),
       url('../css/serif/DejaVuSerif-webfont.ttf') format('truetype'),
       url('../css/serif/DejaVuSerif-webfont.svg#DejaVuSerifBook') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVuSerifBookItalic';
  src: url('../css/serif/DejaVuSerif-Italic-webfont.eot');
  src: url('../css/serif/DejaVuSerif-Italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../css/serif/DejaVuSerif-Italic-webfont.woff') format('woff'),
       url('../css/serif/DejaVuSerif-Italic-webfont.ttf') format('truetype'),
       url('../css/serif/DejaVuSerif-Italic-webfont.svg#DejaVuSerifBook') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* global page elements */

html,body {
height:100%;
padding:0;
margin:0;
color:#000;
font:14px/20px 'AmbleRegular';
overflow:hidden;
}

/*18/27*/

ul,li,td {
padding:0;
margin:0;
}

td {
vertical-align:top;
text-align:left;
}

h1,h2,h3,h4,h5,h6 {
display:inline; color:#121338;
}

h1 {
font:14px/0 DejaVuSerifBookItalic;
}

table.submenu h1 {
font:normal 16px/0 DejaVuSerifBookItalic; color:#DEDEE2;
}

h2 {
font:normal 20px/0 DejaVuSerifBookItalic; color:#82719D;
}

h3 {
font:16px/40px AmbleRegular; color:#82719D;
}

h4, div#container_main div#content_rssinstances table.scroller_x td.rss_inner_top div.rss_header td {
font-size:80%;
}

input[type=text],input[type=password],textarea,select {
background-color:#F0E68C;
}

input[type=button] {
border:0;
padding-bottom:4px;
display:inline-block;
height:29px;
background-color:#646B76;
color:#DDD;
font-size:14px;
font-weight:400;
text-decoration:none;
}

input[type=button]:hover {
background-color:#749DDE;
color:#FFF;
cursor:pointer;
}

input[type=button]:active {
position:relative;
top:1px;
}

/* general purpose classes */

.hidden {
display:none;
visibility:hidden;  
}

/* links */

a:link, a:active, a:visited, a:hover {
font: 14px 'AmbleBold'; color:#121338; text-decoration:underline;
} 

a:hover {
color:#65679B;
}

table.submenu a:link, table.submenu a:active, table.submenu a:visited, table.submenu a:visited {
color:#CBC5BD; text-decoration:none;
}

table.submenu a:hover {
color:#F0CA38; text-decoration:underline;
}

table.submenu img {
opacity:0.9;
}

/* image links */

img.lnk, img.lnk-xtr-hor-marg {
border:1px solid #121338;
border-radius:2px;
border-collapse:separate;
background-color:#76769D; /* 282B7C */
}

img.lnk:hover, img.lnk-xtr-hor-marg:hover {
background-color:#121338;
}

img.lnk {
padding:2px 3px 2px 3px;
}

img.lnk-xtr-hor-marg {
padding:2px 3px 2px 2px; /* t r b l */
}

/* header */

div#container_header {
position:absolute;
top:0;
width:100%;
}

div#container_header div#container_header_top {
background-color:#121338;
color:#FBFBFB;
display:block;
height:33px;
position:relative;
width:100%;
z-index:10;
}

div#container_header div#container_header_top div {
display:inline;
position:relative;
}

div#container_header div#container_header_top div#menu {
float:left;
font-size:18px;
left:3px;
padding:3px 3px;
}

div#container_header div#container_header_top div#menu:hover {
cursor:pointer;
}

div#container_header div#container_header_top div#menu img {
margin-right:1px;
}

div#container_header div#container_header_top div#logo_text {
color:#FFF;
float:right;
font:20px DejaVuSerifBook;
padding-right:5px;
top:7px;
vertical-align:bottom;
}

div#container_header div#container_header_top div#logo_symbol {
float:right;
padding-right:10px;
top:5px;
vertical-align:bottom;
}

div#container_header div#container_header_bottom {
background-color:#F2F2F2;
border-bottom:1px solid #E5E5E5;
display:block;
height:33px;
position:relative;
width:100%;
z-index:1;
}

div#container_header div#container_header_bottom div {
display:inline;
position:relative;
}

div#container_header div#container_header_bottom div.l  {
float:left;
padding:7px 0 0 5px;
}

div#container_header div#container_header_bottom div.r1 {
float:right;
padding:4px 4px 3px 3px;
}

div#container_header div#container_header_bottom div.r2 {
float:right;
padding:6px 10px 0 0;
}

/* menu */

div#id_submenu_transparent_bg {
background-color:#121338;
float:left;
height:100%;
opacity:0;
position:absolute;
top:33px;
visibility:hidden;
width:100%;
z-index:2;
}

div.container_menu {
display:none;
float:left;
height:100%;
position:absolute;
top:25px;
visibility:hidden;
width:100%;
z-index:4;
}

div.container_menu table.submenu {
border-collapse:separate;
border-spacing:5px 5px;
margin:0 10px;
width:100%;
}

div.container_menu table.submenu td {
border:2px solid transparent;
padding:5px 10px 0 20px;
}

div.container_menu table.submenu img {
margin:5px 3px 0 0;
}

div.container_menu table.submenu td.td1 {width:180px}
div.container_menu table.submenu td.td2 {width:180px}
div.container_menu table.submenu td.td3 {width:200px; padding-left:40px;}

div.container_menu td.time_info {
color:#121338;
font-size:90%;
padding:0 3px 0 0;
text-align:right;
}

div.container_menu td.time {
color:#3A94C7;
font-size:90%;
padding:0 26px 0 0;
text-align:left;
}

/* menu footer */

div.container_menu div#menu_footer {
bottom:60px;
display:block;
position:absolute;
width:100%;
}

/* main footer */

div#container_footer {
bottom:0px;
position:absolute;
z-index:1;
width:100%;
height:53px;
margin:0;
padding:0;
}

div#container_footer div {
display:block;
position:relative;
width:100%;
margin:0;
padding:0;
}

div#container_footer div#top {
height:20px;
bottom:0;
/* FF3.6+ */
background:-moz-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
/* Chrome,Safari4+ */
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,0)),color-stop(100%,rgba(255,255,255,1)));
/* Chrome10+,Safari5.1+ */
background:-webkit-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
/* Opera 11.10+ */
background:-o-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
/* IE10+ */
background:-ms-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
/* W3C */
background:linear-gradient(to bottom,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
/* IE6-9 */
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ffffff",endColorstr="#ffffff",GradientType=0)
}

div#container_footer div#bottom {
height:33px;
bottom:0px;
background-color:#F2F2F2;
border-top:1px solid #E5E5E5;
color:#818181;
font-size:90%;
padding:5px 0 0 3px;
}

label#copyright {
color:#A498B8;
font-size:90%;
padding-left:3px;
}

td#clock {
text-align:right;
padding-right: 10px;
}

td#clock img {
margin:0px 6px 0 0;
opacity:0.5;
}

td#clock a:link, td#clock a:active, td#clock a:visited, td#clock a:visited {
color:#848484; text-decoration:underline;
}

td#clock a:hover {
color:#313131; text-decoration:underline;
}

/* main content text elements */

.rss_title {
overflow:hidden;
height:1.2em;
}

.rss_descr {
overflow:hidden;
}

.rss_date        {color:#298E04; font-size:90%;}
.rss_catg        {color:#1A9B34; font-size:90%;}
.rss_breaking    {color:#FF0202; font-size:90%;}
.rss_notbreaking {color:#AD6902; font-size:90%;}

/* main content outline */

div#container_main {
height:100%;
overflow-y:scroll;
position:absolute;
width:100%;
top:80px;
}

div#container_main div#tabsholder {
display:inline;
position:relative;
float:left;
left:3px;
top:4px;
width:60%;
}

div#container_main div#tabsholder div#container_tabs {
border-bottom:2px solid #121338;
display:block;
height:30px;
position:relative;
width:99%;
}

div#container_main div.tabscontent {
position:relative;
display:block;
left:3px;
top:5px;
width:95%;
}

div#container_main div.tabscontent div {
position:relative;
display:block;
}

div#container_main div#content_rssinstances {
display:inline;
float:left;
position:relative;
right:3px;
width:40%;
top:2px;
}

/* rss scroller instances */

div#container_main div#content_rssinstances table.scroller_x {
border:0;
border-collapse:collapse;
width:100%;
margin-top:2px;
}

div#container_main div#content_rssinstances table.scroller_x tr.rss_inner_top td {
border-bottom:2px solid #121338;
padding:5px 5px 3px 3px; /* t r b l */
vertical-align:bottom;
font-size:14px;
}

div#container_main div#content_rssinstances table.scroller_x tr.rss_inner_top img {
display:block;
}

div#container_main div#content_rssinstances table.scroller_x tr.rss_inner_top td.bttn_doc {
padding-right:4px;
width:1px;
}

div#container_main div#content_rssinstances table.scroller_x tr.rss_inner_top td.str_header {
color:#121338;
}

div#container_main div#content_rssinstances table.scroller_x tr.rss_inner_top td.sources {
padding-right:5px;
width:1px;"
font-size:16px;
color:#121338;
}

div#container_main div#content_rssinstances table.scroller_x tr.rss_inner_top td.bttn_back {
padding-right:2px; 
text-align:right;
width:1px;
}

div#container_main div#content_rssinstances table.scroller_x tr.rss_inner_top td.bttn_next {
text-align:right;
width:1px;
}

div#container_main div#content_rssinstances table.scroller_x td.rss_inner_bottom div {
height:6em;
overflow:hidden;
position:relative;
width:100%;
padding:2px 3px 0 3px;
}

/* tab buttons */

ul.list li {
list-style-type:none;
margin-left:20px;
}

ul.tabs {
width:100%;
overflow:hidden;
}

ul.tabs li {
font:14px AmbleRegular;
background-color:#AEB9BB;
color:#fff;
list-style-type:none;
display:block;
float:left;
padding:6px 10px 5px;
margin-right:2px;
border-bottom:1px solid #AEB9BB;
-moz-border-radius:4px 4px 0 0;
-webkit-border-radius:4px 4px 0 0;
cursor:pointer;
}

ul.tabs li:hover {
background-color:#65679B;
}

ul.tabs li.current {
border-bottom:2px solid #121338;
padding:6px 10px 5px;
background-color:#121338;
}

.marginbot {
margin-bottom:15px;
}

/* input[type=text] */

input[type=text] {
background:             url(../img/search-dark.png) no-repeat 10px 6px #DBDBDB;
border:                 1px solid #9F9F9F;
font:                   14px AmbleRegular;
color:                  #d7d7d7;
width:                  200px;
padding:                3px 3px 3px 3px; /* t r b l */  
-webkit-box-shadow:     0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
-moz-box-shadow:        0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
box-shadow:             0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
-webkit-transition:     all 0.3s ease 0s;
-moz-transition:        all 0.3s ease 0s;
-o-transition:          all 0.3s ease 0s;
transition:             all 0.3s ease 0s;
border-radius:          0px;
-webkit-border-radius:  0px;
-moz-border-radius:     0px;
}

input[type=text]#id_search_txt:focus {
background:             url(../img/search-dark.png) no-repeat 10px 6px #FCFCFC;
color:                  #6a6f75;
-webkit-box-shadow:     0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
-moz-box-shadow:        0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
box-shadow:             0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
}