/*
    popup.css
    (c) Copyright 2013 - Giovanni Macciocu
*/

div#popup-page-disable {
width:100%;
height:100%;
position:fixed;
z-index:99;
visibility:hidden;
display:none;
background-color:#121338;
opacity:0;
}

div#popup {
visibility:hidden;
display:none;
width:100%;
position:fixed;
z-index:100;
top:50px;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
-khtml-border-radius:3px;
text-align:center;
}

div#popup table {
border:0;
border-collapse:collapse;
margin-left:auto;
margin-right:auto;
}

div#popup tr.header td {
font-size:18px;
color:#FFF;
padding-left:5px;
vertical-align:middle;
border-bottom:1px solid #121338;
background-color:#121338;
}

div#popup tr.header td.td-l {
border-radius:3px 0 0 0;
-moz-border-radius:3px 0 0 0;
-webkit-border-radius:3px 0 0 0;
-khtml-border-radius:3px 0 0 0;
}

div#popup tr.header td.td-r {
text-align:right;
border-radius:0 3px 0 0;
-moz-border-radius:0 3px 0 0;
-webkit-border-radius:0 3px 0 0;
-khtml-border-radius:0 3px 0 0;
}

div#popup tr.header td.td-r img {
border:1px solid #121338;
border-radius:2px;
border-collapse:separate;
padding:2px 3px 2px 3px;
margin: 3px;
}

div#popup tr.header td.td-r img:hover {
/* reserved */
}

div#popup tr.content td {
padding:5px;
background-color:#FFF;
}